profile home_office {
  output "Dell Inc. DELL U3818DW 97F8P93D04NL" enable mode 3840x1600@59.99 position 0,0
  output "Dell Inc. DELL U2422HE CFGRG83" enable mode 1920x1080@50 transform 270 position 3840,0
  output "eDP-1" enable mode 2256x1504@60 position 4920,0
}

profile undocked {
  output "eDP-1" enable scale 1 position 0,0
}
