$base: #200d72;
$text: #bfc9db;

// Found a matching colorscheme from: https://www.colorhexa.com/e4c9af
$brightness: #e4c9af;
$clock: #e4afca;
$volume: #afcae4;
$wifi: #afe4c9;

$wsactive: $brightness;
$wsbackground: #565656; // #3d3d3d; // #292929; // #4e5a65; // $volume; // #5331e7;
$wsfocused: $clock;

$wsactive: #b73315; // #72200d;
$wsfocused: #15b733; // #0d7220;

* {
  all: unset;
  font-family: Inconsolata;
}

scale trough {
  all: unset;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 72px;
}

tooltip.background {
  background-color: $base;
  border-radius: 10px;
  color: $text;
  font-size: 1.5rem;
  font-weight: 500;
}

tooltip label {
  margin: 6px;
}

// -----------------------------------------------------------------------------
// Widgets.
// -----------------------------------------------------------------------------

.battery-bar trough highlight {
  background-image: linear-gradient(to right, rgba(246,68,68,1) 5%, rgba(254,255,0,1) 60%, rgba(13,244,51,1) 100%);
  border-radius: 10px;
}

.brightness-bar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}

.brightness-widget {
  color: $brightness;
}

.clock-widget {
  color: $clock;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0px 0.5rem;
}

.clock-widget > label {
  color: $clock;
}

.icon {
  font-size: 1.5rem;
  margin-left: 4px;
  margin-right: 0.5rem;
}

.revealed {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.2rem;
}

.separator {
  color: #bbb;
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem 0.2rem;
}

.volume-bar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}

.volume-widget {
  color: $volume;
}

.widgets-bar {
  background-color: $base;
  border-radius: 16px;
  padding: 0px 12px;
}

.widgets-left {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

.widgets-left > * {
  margin: 0rem 0.5rem;
}

.widgets-right > * {
  color: $text;
  margin: 0rem 0.5rem;
}

.wifi-widget {
  color: $wifi;
  border-radius: 100%;
}

// -----------------------------------------------------------------------------
// Workspaces.
// -----------------------------------------------------------------------------

// .workspaces > button:hover {
//   box-shadow: inset 0px -4px #fff;
// }

.workspaces > * {
  color: $volume;
  font-weight: 800;
  padding: 0.3rem 0.8rem;
}

.ws-active {
  background: $wsbackground;
  border-radius: 50%;
  color: $wsactive;
}

.ws-focused {
  background: $wsbackground;
  border-radius: 50%;
  color: $wsfocused;
  // font-weight: bolder;
}

.ws-occupied {}
