$base: #200d72;
$text: #bfc9db;
$wsactive: #eb8258; // Mandarin
$wsfocused: #fe654f; // Tomato

* {
  all: unset;
  font-family: Inconsolata;
}

scale trough {
  all: unset;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 72px;
}

tooltip.background {
  background-color: $base;
  border-radius: 10px;
  color: $text;
  font-size: 1.5rem;
  font-weight: 500;
}

tooltip label {
  margin: 6px;
}

// -----------------------------------------------------------------------------
// Widgets.
// -----------------------------------------------------------------------------

.battery-bar trough highlight {
  background-image: linear-gradient(to right, rgba(246,68,68,1) 5%, rgba(254,255,0,1) 60%, rgba(13,244,51,1) 100%);
  border-radius: 10px;
}

.brightness-bar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}

.brightness-widget > .icon {
  color: #e4c9af;
}

.clock-widget {
  font-size: 2rem;
  font-weight: 600;
  margin: 0px 0.5rem;
}

.icon {
  font-size: 1.5rem;
  margin-left: 4px;
  margin-right: 0.5rem;
}

.revealed {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.2rem;
}

.separator {
  color: #bbb;
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem 0.2rem;
}

.volume-bar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}

.volume-widget > .icon {
  color: #a1bdce;
}

.widgets-bar {
  background-color: $base;
  border-radius: 16px;
  padding: 0px 12px;
}

.widgets-left {
  font-family: monospace;
  font-size: 2rem;
  font-weight: normal;
}

.widgets-left > * {
  margin: 0rem 0.5rem;
}

.widgets-right > * {
  color: $text;
  margin: 0rem 0.5rem;
}

.wifi-widget {
  color: #a1bdce;
  border-radius: 100%;
}

// -----------------------------------------------------------------------------
// Workspaces.
// -----------------------------------------------------------------------------

.workspaces > button:hover {
  box-shadow: inset 0px -4px #fff;
}

.ws-active {
  color: $wsactive;
}

.ws-focused {
  color: $wsfocused;
  font-weight: bold;
}

.ws-occupied {}

// Calendar
.cal {
  background-color: #0f0f17;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: #bfc9db;
}
calendar:selected {
  color: #a1bdce;
}

calendar.header {
color: #a1bdce;
font-weight: bold;
}

calendar.button {
color: #afbea2;
}

calendar.highlight {
color: #a1bdce;
font-weight: bold;
}

calendar:indeterminate {
color: #bfc9db;
}







.sys_sep {
    color: #38384d;
    font-size: 18px;
    margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
    font-size: 16px;
    color: #bbc5d7;
    margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
    font-size: 21px;
    font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
    font-size: 30px;
    margin: 30px;
}
.sys_win {
    background-color: #0f0f17;
}
.sys_bat {
  color: #afbea2;
    background-color: #38384d;
  border-radius: 10px;
}
.sys_mem {
  color: #e4c9af;
    background-color: #38384d;
  border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
    color: #afbea2;
}
.sys_icon_mem, .sys_text_mem {
    color: #e4c9af;
}
.sys_bat_box {
	border-radius: 16px;
    margin: 15px 10px 10px 20px;
  }
.sys_mem_box {
	border-radius: 16px;
    margin: 10px 10px 15px 20px;
  }







.music_pop {
    background-color: #0f0f17;
	border-radius: 16px;
}
  .music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
	min-width: 170px;
	margin: 20px;
	border-radius: 20px;
}

.music {
	color: #a1bdce;
	font-size : 20px;
	font-weight : bold;
	margin : 20px 0px 0px -15px;
}

.music_artist {
	color: #bbc5d7;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
	font-family: Iosevka Nerd Font;
}
.music_btn_prev {
	color: #bbc5d7;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_play {
	color: #a1bdce;
	font-size : 48px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_next {
	color: #bbc5d7;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.music_bar scale trough {
	all: unset;
	background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin : -10px 10px 20px 0px;
}

.audio-box {
    background-color: #0f0f17;
	border-radius: 16px;
}
.speaker_icon {
	background-size: cover;
    background-image: url('images/speaker.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 10px 20px 5px 20px;
	border-radius: 12px;
}

.speaker_text {
	color: #a1bdce;
	font-size : 26px;
	font-weight : bold;
	margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.speaker_bar scale trough {
	all: unset;
	background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 5px 0px;
}




.mic_icon {
	background-size: cover;
    background-image: url('images/mic.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 5px 20px 20px 20px;
	border-radius: 12px;
}

.mic_text {
	color: #a1bdce;
	font-size : 26px;
	font-weight : bold;
	margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.mic_bar scale trough {
	all: unset;
    box-shadow: 0px 6px 5px 2px #06060b;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 20px 0px;
}

.audio_sep {
    color: #38384d;
    font-size: 18px;
	margin : 0px 0px 0px 0px;
}
